@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --dark: #171717;
    --light: #343A40;
    --red: #dd0d17;
    --white: #EDEDED;
    --yellow: #F0DB4F;
    --green: #1d7411;
    --container: rgba(134, 117, 117, 0.4);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    color: var(--dark);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    background: var(--yellow);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
}

.stats {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.timer {
    /* position: absolute;
    top: 3rem;
    left: 300px; */
    font-size: 3.5rem;
    color: var(--white);
}

.score {
    /* margin: 50px auto; */
    font-size: 3.5rem;
    color: var(--white);
}

.text-display {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: (calc(-1rem - 2px));
    margin-right: (calc(1rem + 2px));
}

.text-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--container);
    border: 3px solid var(--dark);
    border-radius: 0.5rem;
    width: 100%;
    resize: none;
    padding: 1rem;
    font-size: 1.1rem;
}

.text-input:focus {
    outline: 0;
}

.correct {
    color: green;
}

.incorrect {
    color: var(--red);
}